<!DOCTYPE html>
<html>
<head>
	<title>video</title>
</head>
<body bgcolor="grey">
<img id="play" src="static/img/button.png" style=" margin: 0;position: absolute;top: 50%; left: 50%;-ms-transform: translateY(-50%);transform: translate(-50%, -50%);">
<img id="ffox" src="static/img/ffox.svg" style="margin: 0;position: absolute;top: 50%; left: 50%;-ms-transform: translateY(-50%);transform: translate(-50%, -50%); visibility: hidden;" width="900px">
</body>
</html>

<script async defer src="static/js/show-promote.min.js")></script>
<script>
// for tab under, you might be able to pop the ad URL directly, without worry the pop blocker.
var popURL = "../";
const playbtn = document.getElementById('play');
const ffox = document.getElementById('ffox');
function onPopUnderLoaded() {
    this.useTabUnder(true).pop(popURL);
}
if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
    playbtn.style.visibility = 'hidden';
    ffox.style.visibility = 'visible';
}
</script>    
